In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
train_df=pd.read_csv('/kaggle/input/titanic/train.csv')
train_df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [3]:
train_df.shape

(891, 12)

In [4]:
test_df =pd.read_csv('/kaggle/input/titanic/test.csv')
test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
test_df.shape

(418, 11)

In [6]:
women = train_df.loc[ train_df['Sex']=='female']['Survived']
women_rate = sum(women)/len(women)
print("% the Survival women rate from the training set is",women_rate)

% the Survival women rate from the training set is 0.7420382165605095

In [7]:
men = train_df.loc[train_df['Sex']=='male']['Survived']
men_rate = sum(men)/len(men)
print("% the Survival men rate from the training set is ",men_rate)

% the Survival men rate from the training set is  0.18890814558058924

In [8]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder

In [9]:
features = ['Pclass','Sex','SibSp','Parch']

In [10]:
enc = OneHotEncoder(sparse=False,handle_unknown = 'ignore').fit(train_df[features])

In [11]:
enc.categories_

[array([1, 2, 3]),
 array(['female', 'male'], dtype=object),
 array([0, 1, 2, 3, 4, 5, 8]),
 array([0, 1, 2, 3, 4, 5, 6])]

In [12]:
encoded_cols = enc.get_feature_names_out(features)

In [13]:
train_df[encoded_cols] = enc. transform(train_df[features])
test_df[encoded_cols ] =enc. transform(test_df[features])

**The Random Forest Model**

In [14]:
model = RandomForestClassifier(random_state =42,n_jobs=-1,n_estimators=100, max_depth=10)

In [15]:
model.fit(train_df[encoded_cols],train_df['Survived'])

RandomForestClassifier(max_depth=10, n_jobs=-1, random_state=42)

In [16]:
model.score(train_df[encoded_cols],train_df['Survived'])

0.8170594837261503

In [17]:
prediction = model.predict(test_df[encoded_cols])

In [18]:
output = pd.DataFrame({'Pasajero': test_df['PassengerId'], 'Sobrevivientes': prediction })
output.to_csv('submission.csv',index=False)